{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mt-5">
      <div class="col-md-3 col-sm-6">
          <a href="{% url 'post-list' %}" class="btn btn-light", style="border:solid; border-radius:5px; border-color:dodgerblue;">Back to Feed</a>
      </div>
  </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12", style="border:solid; border-radius:5px; border-color:dodgerblue; background-color:white;">
            <p><strong>{{ post.author }}</strong> {{ post.created_on }}</p>
            {% if request.user == post.author %}
            <a href="{% url 'post-edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i> Edit Post</a><br>
            <a href="{% url 'post-delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i> Delete Post</a>
            {% endif %}
            <p>{{ post.body }}</p>
            <div class="d-flex flex-row">
              <form method="POST" action="{% url 'share-post' post.pk %}" id="{{ post.pk }}">
                  {% csrf_token %}
                  {{ shareform | crispy }}
                  <br>
                  <div>
                    <button class="row justify-content-center mt-1 col-md-12 col-sm-20", style="border:solid; border-radius:5px; border-color:dodgerblue; background-color:dodgerblue; margin-bottom: 10px; margin-left: auto; margin-right: auto;">Share Post</button>
              </form>
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"><i class="far fa-thumbs-up"></i> <span>{{ post.likes.all.count }}</span></button>
                </form>
            </div>
        </div>
    </div>
    <p class="row justify-content-center mt-3", style="border:solid; border-radius:5px; border-color:dodgerblue; background-color:dodgerblue;"> Comments</p>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-3 position-relative", style="border:solid; border-radius:5px; border-color:dodgerblue; background-color:white;">
            <p>
                <strong>{{ comment.author }}</strong> {{ comment.created_on }}
                {% if request.user == comment.author %}
                <br>
                <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i> Delete Comment</a>
                {% endif %}
            </p>
            <p>{{ comment.comment }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12">
                <h5>Add Comment</h5>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="button mt-3", style="background-color:dodgerblue; border:none; border-radius:5px;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
